
* {
    box-sizing: border-box; /* Pour inclure le padding et la bordure dans la largeur totale */
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    width: 60vw; /* Largeur relative (60% de la largeur de la fenêtre) */
    height: 40vw; /* Hauteur calculée pour maintenir le ratio 3:2 */
    max-width: 900px; /* Largeur maximale */
    max-height: 600px; /* Hauteur maximale */
    background-color: #f0f0f0; /* Couleur de fond */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto; /* Centrer horizontalement */
}
 body {    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.circle-button {
    width: 200px; /* Largeur */
    height: 40px; /* Hauteur */
    border-radius: 30px; /* Pour faire un cercle allongé */
    border: none;
    background-color: #007BFF; /* Couleur de fond */
    color: #000000; /* Couleur du texte */
    font-size: 25px;
    cursor: pointer; /* Curseur en forme de main */
    transition: background-color 0.3s; /* Animation couleur */
    background: white;
     font-family:'century Gothic',calibri,serif;
     
     margin: 0 auto;
     
}

.circle-button:hover {
    background-color: #0056b3; /* Couleur au survol */
}
h1{
    font-size: 90px;
    color: #eaffff;
    font-family:'century Gothic',calibri,serif;
    text-align: center;}
h2 {font-size: 25px;
    color: #eaffff;
    font-family:'century Gothic',calibri,serif;
    text-align: center;}

